.sidenav-container {
    height: 100%;
  }
  
  .mat-toolbar-row {
    display: flex;
    justify-content: space-between;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .main-content {
    padding: 20px;
  }
  
  .active-link {
    font-weight: bold;
    color: #3f51b5;
  }
  