<!-- login.component.html -->
<div fxLayout="column" fxLayoutAlign="center center">
    <h2>Login</h2>
    <mat-card>
      <mat-card-content>
        <form fxLayout="column" fxLayoutGap="20px">
          <mat-form-field>
            <input matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="login()">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  
