
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>
    <ng-container matColumnDef="personName">
      <th mat-header-cell *matHeaderCellDef>personName</th>
      <td mat-cell *matCellDef="let element">{{ element?.personName }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>email</th>
      <td mat-cell *matCellDef="let element">
       {{element?.email}}
      </td>
    </ng-container>
    <ng-container matColumnDef="phoneNo">
      <th
        class="text-center"
        mat-header-cell
        *matHeaderCellDef
        aria-label="row actions"
      >
      phoneNo
      </th>
      <td class="text-center" mat-cell *matCellDef="let element">
        {{element?.phoneNo}}
      </td>
    </ng-container>
    <tr mat-header-row class="title" *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      class="title1"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>